// @use "sass:color";
@import './variable.scss';
@import './theme.scss';

.#{$preName} {
  #{$prefix}-animate-time: .3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: var(#{$prefix}-width);
  box-shadow: 0 0 12px #0000004a;
  user-select: none;
  // overflow: hidden;
  transition: width .2s ease-in-out;

  // 菜单收起状态样式
  &.#{$preName}-close-status {
    width: var(#{$prefix}-close-width);
    // 非一级菜单隐藏菜单图标
    .#{$preName}-menu-list:not(.#{$preName}-list-child-0) {
      .#{$preName}-menu-icon {
        display: none;
      }
    }
    // 一级菜单隐藏文字和操作图标
    &>.#{$preName}-list-child-0>.#{$preName}-menu-item>.#{$preName}-popover-template>.#{$preName}-menu-item-box {
      // 展示一级菜单图标
      .#{$preName}-menu-icon {
        display: unset;
      }
      // 隐藏文字和操作图标
      .#{$preName}-menu-text, .#{$preName}-col-icon {
        display: none;
      }
    }
  }

  // 菜单展开状态样式
  &.#{$preName}-open-status {
    width: var(#{$prefix}-width);
  }
  // 菜单切换按钮
  .#{$preName}-toggle-box {
    position: absolute;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: var(#{$prefix}-theme-bg-color);
    fill: var(#{$prefix}-theme-text-color);
    cursor: pointer;
    &:hover {
      fill: var(#{$prefix}-theme-active-text-color);
    }
    &.#{$preName}-is-open {
      transform: rotate(180deg);
    }
  }

  // 通用样式
  .#{$preName}-menu-list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    flex: 1;
    overflow: auto;

    // 菜单项样式
    & .#{$preName}-menu-item {
      list-style: none;
      width: 100%;
      overflow: hidden;
      // 菜单box
      .#{$preName}-menu-item-box {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 24px 12px 12px;
        font-size: 14px;
        white-space: nowrap;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

        // 菜单图标
        .#{$preName}-menu-icon {
          fill: var(#{$prefix}-theme-text-color);
          min-width: 22px;
          width: 22px;
          height: 22px;
          padding: 0 4px;
          margin-right: 6px;
        }
        // .#{$preName}-meun-text {}
        // 展开/收起图标
        .#{$preName}-col-icon {
          fill: var(#{$prefix}-theme-text-color);
          position: absolute;
          right: 4px;
          transition: transform .2s linear;

          &.#{$preName}-open-status {
            transform: rotate(90deg);
          }
        }
        // 禁用样式
        &.#{$preName}-menu-disabled {
          cursor: not-allowed;
        }
      }
    }

    // 子列表
    &[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
      overflow: hidden;
      .#{$preName}-menu-item-box {
        font-size: 12px;
      }
    }

    // 滚动条样式
    &::-webkit-scrollbar {
      width: 4px;
      background-color: var(#{$prefix}-theme-bg-color);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #c1c1c1;

      &:hover {
        background-color: #a8a8a8;
      }

      &:active {
        background-color: #787878;
      }
    }
    & {
      scrollbar-width: thin;
      scrollbar-color: #c1c1c1 #eee;
    }
  }
}

// 浮窗样式
.#{$preName}-popover {
  position: fixed;
  left: var(#{$prefix}-popover-x);
  top: var(#{$prefix}-popover-y);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 99;
  // transform-origin: 0 0;

  .#{$preName}-popover-tip {
    position: absolute;
    left: 0;
    top: var(#{$prefix}-gap);
    border: 10px solid transparent;
    border-right-color: var(#{$prefix}-theme-bg-color, #909090);
    margin-left: -4px;
  }

  .#{$preName}-popover-content {
    position: absolute;
    left: 15px;
    min-height: 40px;
    box-shadow: 2px 2px 12px #0000005c;
    border-radius: 2px;
    background-color: var(#{$prefix}-theme-bg-color, #909090);

    .#{$preName}-popover-label {
      display: block;
      white-space: nowrap;
      padding: 12px;
      font-size: 12px;
    }

    .#{$preName}-menu-item-box.#{$preName}-is-popover {
      min-height: 40px;
    }
  }
}

.collapse-transition {
  transition: height var(#{$prefix}-animate-time, .3s) ease-in-out,
  padding-top var(#{$prefix}-animate-time, .3s) ease-in-out,
  padding-bottom var(#{$prefix}-animate-time, .3s) ease-in-out,
  max-height var(#{$prefix}-animate-time, .3s) ease-in-out;
}

.popover-enter-active,
.popover-leave-active {
  transition: all .2s;
}

.popover-enter-from,
.popover-leave-to {
  opacity: 0;
  // transform: scale(0);
}