// @use "sass:color";

$preName: cy-menu;
$prefix: --cy-menu;

.#{$preName} {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: var(#{$prefix}-width);
  box-shadow: 0 0 12px #0000004a;
  user-select: none;
  overflow: hidden;
  transition: width .2s ease-in-out;

  // 菜单收起状态样式
  &.#{$preName}-close-status {
    width: var(#{$prefix}-close-width);
    // 非一级菜单隐藏菜单图标
    .#{$preName}-menu-list:not(.#{$preName}-list-child-0) {
      .#{$preName}-menu-icon {
        display: none;
      }
    }
    // 一级菜单隐藏文字和操作图标
    &>.#{$preName}-list-child-0>.#{$preName}-menu-item>.#{$preName}-popover-template>.#{$preName}-menu-item-box {
      // 展示一级菜单图标
      .#{$preName}-menu-icon {
        display: unset;
      }
      // 隐藏文字和操作图标
      .#{$preName}-menu-text, .#{$preName}-col-icon {
        display: none;
      }
    }
  }

  // 菜单展开状态样式
  &.#{$preName}-open-status {
    width: var(#{$prefix}-width);
  }
  // 菜单切换按钮
  .#{$preName}-toggle-box {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: aqua;
  }

  // 通用样式
  .#{$preName}-menu-list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    flex: 1;
    overflow: auto;
    transition: height var(#{$prefix}-time) ease-in-out,
    padding-top var(#{$prefix}-time) ease-in-out,
    padding-bottom var(#{$prefix}-time) ease-in-out,
    max-height var(#{$prefix}-time) ease-in-out;

    // 菜单项样式
    & .#{$preName}-menu-item {
      #{$prefix}-time: .3s;
      list-style: none;
      width: 100%;
      overflow: hidden;
      // 菜单box
      .#{$preName}-menu-item-box {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 22px 12px 12px;
        white-space: nowrap;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;

        // 菜单图标
        .#{$preName}-menu-icon {
          fill: var(#{$prefix}-theme-cyan-text-color);
          min-width: 22px;
          width: 22px;
          height: 22px;
          padding: 0 4px;
          margin-right: 6px;
        }
        // .#{$preName}-meun-text {}
        // 展开/收起图标
        .#{$preName}-col-icon {
          fill: var(#{$prefix}-theme-cyan-text-color);
          position: absolute;
          right: 2px;
          transition: transform .2s linear;

          &.#{$preName}-open-status {
            transform: rotate(90deg);
          }
        }
      }
    }

    // 子列表
    &[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
      overflow: hidden;

      .#{$preName}-menu-item-box {
        padding-left: 8px;
      }
    }

    // 滚动条样式
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #eee;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #c1c1c1;

      &:hover {
        background-color: #a8a8a8;
      }

      &:active {
        background-color: #787878;
      }
    }
    & {
      scrollbar-width: thin;
      scrollbar-color: #c1c1c1 #eee;
    }
  }
}

// primary主题样式
.#{$preName}.#{$preName}-theme-primary {
  // 菜单列表
  .#{$preName}-menu-list {
    color: var(#{$prefix}-theme-cyan-text-color);
    background-color: var(#{$prefix}-theme-cyan-bg-color);
    // 菜单项
    .#{$preName}-menu-item {
      // 菜单项box
      .#{$preName}-menu-item-box {
        border-left: 3px solid transparent;
        border-left-width: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.05);

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          border-left-color: var(#{$prefix}-theme-cyan-active-color);
        }

        // 展开样式
        &.#{$preName}-open-list {
          &>.#{$preName}-menu-icon, &>.#{$preName}-menu-text, &>.#{$preName}open-status {
            color: #fff;
            fill: #fff;
          }
        }

        // 活跃样式
        &.#{$preName}-open-active {
          color: var(#{$prefix}-theme-cyan-active-color);
          border-left-color: var(#{$prefix}-theme-cyan-active-color);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            border: 4px solid transparent;
            border-left-color: var(#{$prefix}-theme-cyan-active-color);
            transform: translateY(-50%);
            transition: border .3s ease-in-out;
          }

          &>.#{$preName}-menu-icon, &>.#{$preName}-menu-text, &>.#{$preName}-active-status {
            color: var(#{$prefix}-theme-cyan-active-color);
            fill: var(#{$prefix}-theme-cyan-active-color);
          }
        }
      }
    }

    // 子列表
    &[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
      background-color: #60686a;
    }
  }
}

// 浮窗样式
.#{$preName}-popover {
  #{$prefix}-popover-color: #626d79e2;
  position: fixed;
  left: var(#{$prefix}-popover-x);
  top: var(#{$prefix}-popover-y);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // transform-origin: 0 0;

  .#{$preName}-popover-tip {
    position: absolute;
    left: 0;
    top: var(#{$prefix}-gap);
    border: 10px solid transparent;
    border-right-color: var(#{$prefix}-popover-color);
    margin-left: -4px;
  }

  .#{$preName}-popover-content {
    position: absolute;
    left: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.329);
    border-radius: 2px;
    background-color: var(#{$prefix}-popover-color);

    .#{$preName}-popover-label {
      display: block;
      white-space: nowrap;
      padding: 10px;
    }
  }
}

.popover-enter-active,
.popover-leave-active {
  transition: all .2s;
}

.popover-enter-from,
.popover-leave-to {
  opacity: 0;
  // transform: scale(0);
}