// normal主题样式
.#{$preName}.#{$preName}-theme-normal {

  // 菜单列表
  .#{$preName}-menu-list {
    color: var(#{$prefix}-theme-text-color);
    background-color: var(#{$prefix}-theme-bg-color);

    // 菜单项
    .#{$preName}-menu-item {

      // 菜单项box
      .#{$preName}-menu-item-box {
        border-left: 3px solid transparent;
        border-left-width: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.05);

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          border-left-color: var(#{$prefix}-theme-active-color);
        }

        // 展开样式
        &.#{$preName}-open-list {

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-menu-text,
          &>.#{$preName}-open-status {
            color: #fff;
            fill: #fff;
          }
        }

        // 活跃样式
        &.#{$preName}-open-active {
          color: var(#{$prefix}-theme-active-color);
          border-left-color: var(#{$prefix}-theme-active-color);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            border: 4px solid transparent;
            border-left-color: var(#{$prefix}-theme-active-color);
            transform: translateY(-50%);
            transition: border .3s ease-in-out;
          }

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-menu-text,
          &>.#{$preName}-active-status {
            color: var(#{$prefix}-theme-active-color);
            fill: var(#{$prefix}-theme-active-color);
          }
        }

        // 禁用样式
        &.#{$preName}-menu-disabled {
          color: #ccc;
          background-color: #a7b4bf;

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-col-icon {
            fill: #ccc;
          }
        }
      }
    }

    // 子列表
    &[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
      background-color: #60686a;
    }
  }
  // 浮窗
  .#{$preName}-popover-content {
    .#{$preName}-menu-item-box.#{$preName}-is-popover {
      background-color: var(#{$prefix}-theme-bg-color);
    }
  }
}

// primary主题样式
.#{$preName}.#{$preName}-theme-primary {

  // 一级菜单
  // .#{$preName}-list-child-0>.#{$preName}-menu-item + .#{$preName}-menu-item {
  //   margin-top: 4px;
  // }

  // 菜单列表
  .#{$preName}-menu-list {
    color: var(#{$prefix}-theme-text-color);
    background-color: var(#{$prefix}-theme-bg-color);

    // 菜单项
    .#{$preName}-menu-item {

      // 菜单项box
      .#{$preName}-menu-item-box {
        padding-top: 12px;
        padding-bottom: 12px;
        &:hover {
          color: var(#{$prefix}-theme-active-text-color);
          background-color: var(#{$prefix}-theme-active-color);

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-col-icon {
            fill: var(#{$prefix}-theme-active-text-color);
          }
        }

        // 活跃样式
        &.#{$preName}-open-active {
          // background-color: var(#{$prefix}-theme-active-color);

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-menu-text,
          &>.#{$preName}-active-status {
            color: var(#{$prefix}-theme-active-text-color);
            fill: var(#{$prefix}-theme-active-text-color);
          }
        }

        // 禁用样式
        &.#{$preName}-menu-disabled {
          color: #e9e9ee;

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-col-icon {
            fill: #e9e9ee;
          }
        }
      }
    }
  }

  // 子列表
  .#{$preName}-menu-list[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
    // background-color: var(#{$prefix}-theme-active-color);
    & .#{$preName}-popover-template > .#{$preName}-menu-item-box:not(.#{$preName}-is-popover) {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 26px;
      color: #e4e6ec;
      &::before {
        content: '';
        position: absolute;
        left: 18px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #0355a3;
      }
      &.#{$preName}-open-active::before {
        background-color: #a2b5f7;
      }
      &:hover {
        color: var(#{$prefix}-theme-active-text-color);
        background-color: var(#{$prefix}-theme-bg-color);
      }
    }
  }
  // 浮窗
  .#{$preName}-popover-content {
    .#{$preName}-menu-item-box.#{$preName}-is-popover {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
// dark主题样式
.#{$preName}.#{$preName}-theme-dark {
  &>.#{$preName}-menu-list>.#{$preName}-menu-item + .#{$preName}-menu-item {
    margin-top: 8px;
  }

  // 菜单列表
  .#{$preName}-menu-list {
    color: var(#{$prefix}-theme-text-color);
    background-color: var(#{$prefix}-theme-bg-color);

    // 菜单项
    .#{$preName}-menu-item {

      // 菜单项box
      .#{$preName}-menu-item-box {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 28px;
        border-radius: 10px;
        margin: 0 8px;

        &>.#{$preName}-col-icon {
          right: 12px;
        }
        &:hover {
          color: var(#{$prefix}-theme-active-text-color);
          background-color: var(#{$prefix}-theme-active-color);

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-col-icon {
            fill: var(#{$prefix}-theme-active-text-color);
          }
        }
        // 展开样式
        &.#{$preName}-open-list {
          border-radius: 10px 10px 0 0;
          background-color: var(#{$prefix}-theme-active-color);
        }

        // 活跃样式
        &.#{$preName}-open-active {

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-menu-text,
          &>.#{$preName}-active-status {
            color: var(#{$prefix}-theme-active-text-color);
            fill: var(#{$prefix}-theme-active-text-color);
          }
        }

        // 禁用样式
        &.#{$preName}-menu-disabled {
          color: #e9e9ee;

          &>.#{$preName}-menu-icon,
          &>.#{$preName}-col-icon {
            fill: #e9e9ee;
          }
        }
      }
    }
  }

  // 子列表
  .#{$preName}-menu-list[class*="#{$preName}-list-child"]:not(.#{$preName}-list-child-0) {
    // padding: 0 8px;
    & .#{$preName}-popover-template > .#{$preName}-menu-item-box:not(.#{$preName}-is-popover) {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 26px;
      color: var(#{$prefix}-theme-text-color);
      border-radius: 0;
      background-color: var(#{$prefix}-theme-active-color);
      &::before {
        content: '';
        position: absolute;
        left: 18px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(#{$prefix}-theme-text-color);
        transform: translateY(-50%);
      }
      &.#{$preName}-open-active::before {
        background-color: var(#{$prefix}-theme-active-text-color);
      }
      &:hover {
        color: var(#{$prefix}-theme-active-text-color);
        background-color: var(#{$prefix}-theme-active-color);
      }
    }
  }
  // 浮窗
  .#{$preName}-popover-content {
    .#{$preName}-menu-item-box.#{$preName}-is-popover {
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0;
      border-radius: 0;
    }
  }
}